Allow from all
RewriteEngine on

RewriteRule ^imprint/$                                                          index.php?pageTitle=imprint [L]
RewriteRule ^faq/$                                                              index.php?pageTitle=faq [L]

RewriteRule ^([0-9]+)/$                                                         index.php?pageTitle=default&page=$1&sort=0 [L]

RewriteRule ^tags/trending/$                                                    index.php?pageTitle=default&page=0&sort=0 [L]
RewriteRule ^tags/trending/([0-9]+)/$                                           index.php?pageTitle=default&page=$1&sort=0 [L]
RewriteRule ^tags/trending/([^/\.]+)/$                                          index.php?pageTitle=default&tags=$1&page=0&sort=0 [L]
RewriteRule ^tags/trending/([^/\.]+)/([0-9]+)/$                                 index.php?pageTitle=default&tags=$1&page=$2&sort=0 [L]

RewriteRule ^tags/top/$                                                         index.php?pageTitle=default&page=0&sort=1 [L]
RewriteRule ^tags/top/([0-9]+)/$                                                index.php?pageTitle=default&page=$1&sort=1 [L]
RewriteRule ^tags/top/([^/\.]+)/$                                               index.php?pageTitle=default&tags=$1&page=0&sort=1 [L]
RewriteRule ^tags/top/([^/\.]+)/([0-9]+)/$                                      index.php?pageTitle=default&tags=$1&page=$2&sort=1 [L]

RewriteRule ^tags/newest/$                                                      index.php?pageTitle=default&page=0&sort=2 [L]
RewriteRule ^tags/newest/([0-9]+)/$                                             index.php?pageTitle=default&page=$1&sort=2 [L]
RewriteRule ^tags/newest/([^/\.]+)/$                                            index.php?pageTitle=default&tags=$1&page=0&sort=2 [L]
RewriteRule ^tags/newest/([^/\.]+)/([0-9]+)/$                                   index.php?pageTitle=default&tags=$1&page=$2&sort=2 [L]

RewriteRule ^groups/([^/\.]+)/$                                                 index.php?pageTitle=default&group=$1 [L]

RewriteRule ^groups/([^/\.]+)/tags/trending/$                                   index.php?pageTitle=default&group=$1&page=0&sort=0 [L]
RewriteRule ^groups/([^/\.]+)/tags/trending/([0-9]+)/$                          index.php?pageTitle=default&group=$1&page=$2&sort=0 [L]
RewriteRule ^groups/([^/\.]+)/tags/trending/([^/\.]+)/$                         index.php?pageTitle=default&group=$1&tags=$2&page=0&sort=0 [L]
RewriteRule ^groups/([^/\.]+)/tags/trending/([^/\.]+)/([0-9]+)/$                index.php?pageTitle=default&group=$1&tags=$2&page=$3&sort=0 [L]

RewriteRule ^groups/([^/\.]+)/tags/top/$                                        index.php?pageTitle=default&group=$1&page=0&sort=1 [L]
RewriteRule ^groups/([^/\.]+)/tags/top/([0-9]+)/$                               index.php?pageTitle=default&group=$1&page=$2&sort=1 [L]
RewriteRule ^groups/([^/\.]+)/tags/top/([^/\.]+)/$                              index.php?pageTitle=default&group=$1&tags=$2&page=0&sort=1 [L]
RewriteRule ^groups/([^/\.]+)/tags/top/([^/\.]+)/([0-9]+)/$                     index.php?pageTitle=default&group=$1&tags=$2&page=$3&sort=1 [L]

RewriteRule ^groups/([^/\.]+)/tags/newest/$                                     index.php?pageTitle=default&group=$1&page=0&sort=2 [L]
RewriteRule ^groups/([^/\.]+)/tags/newest/([0-9]+)/$                            index.php?pageTitle=default&group=$1&page=$2&sort=2 [L]
RewriteRule ^groups/([^/\.]+)/tags/newest/([^/\.]+)/$                           index.php?pageTitle=default&group=$1&tags=$2&page=0&sort=2 [L]
RewriteRule ^groups/([^/\.]+)/tags/newest/([^/\.]+)/([0-9]+)/$                  index.php?pageTitle=default&group=$1&tags=$2&page=$3&sort=2 [L]

RewriteRule ^groups/([^/\.]+)/new-question/$                                    index.php?pageTitle=new_question&group=$1 [L]
RewriteRule ^groups/([^/\.]+)/manage-group/$                                    index.php?pageTitle=manage_group&group=$1 [L]
RewriteRule ^custom/([^/\.]+)/logo.png$                                         customLogo.php?group=$1 [L]

RewriteRule ^new-question/$                                                     index.php?pageTitle=new_question [L]
RewriteRule ^new-group/$                                                        index.php?pageTitle=new_group&group=$1 [L]
RewriteRule ^signup/$                                                           index.php?pageTitle=signup [L]
RewriteRule ^manage-profile/$                                                   index.php?pageTitle=manage_profile [L]
RewriteRule ^user/([0-9]+)/$                                                    index.php?pageTitle=profile&userId=$1 [L]
RewriteRule ^logout/$                                                           index.php?pageTitle=logout [L]

RewriteRule ^([^/\.]+)/$                                                        index.php?pageTitle=question&title=$1&view=0 [L]
RewriteRule ^([^/\.]+)/details/$                                                index.php?pageTitle=question&title=$1&view=1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/$                                       index.php?pageTitle=question&group=$1&title=$2&view=0 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/details/$                               index.php?pageTitle=question&group=$1&title=$2&view=1 [L]
RewriteRule ^unlisted/([^/\.]+)/$                                               index.php?pageTitle=question&title=$1&view=0 [L]
RewriteRule ^unlisted/([^/\.]+)/details/$                                       index.php?pageTitle=question&title=$1&view=1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/$                                  index.php?pageTitle=question&title=$1&view=0 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/details/$                          index.php?pageTitle=question&title=$1&view=1 [L]


RewriteRule ^([^/\.]+)/p/new-argument/$                                         index.php?pageTitle=new_argument&title=$1&faction=1 [L]
RewriteRule ^([^/\.]+)/c/new-argument/$                                         index.php?pageTitle=new_argument&title=$1&faction=-1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/p/new-argument/$                        index.php?pageTitle=new_argument&&group=$1title=$2&faction=1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/c/new-argument/$                        index.php?pageTitle=new_argument&&group=$1title=$2&faction=-1 [L]
RewriteRule ^unlisted/([^/\.]+)/p/new-argument/$                                index.php?pageTitle=new_argument&title=$1&faction=1 [L]
RewriteRule ^unlisted/([^/\.]+)/c/new-argument/$                                index.php?pageTitle=new_argument&title=$1&faction=-1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/p/new-argument/$                   index.php?pageTitle=new_argument&title=$1&faction=1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/c/new-argument/$                   index.php?pageTitle=new_argument&title=$1&faction=-1 [L]


RewriteRule ^([^/\.]+)/p/([^/\.]+)/ca/new-argument/$                            index.php?pageTitle=new_counter_argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^([^/\.]+)/c/([^/\.]+)/ca/new-argument/$                            index.php?pageTitle=new_counter_argument&title=$1&argument=$2&faction=-1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/p/([^/\.]+)/ca/new-argument/$           index.php?pageTitle=new_counter_argument&group=$1&title=$2&argument=$3&faction=1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/c/([^/\.]+)/ca/new-argument/$           index.php?pageTitle=new_counter_argument&group=$1&title=$2&argument=$3&faction=-1 [L]
RewriteRule ^unlisted/([^/\.]+)/p/([^/\.]+)/ca/new-argument/$                   index.php?pageTitle=new_counter_argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^unlisted/([^/\.]+)/c/([^/\.]+)/ca/new-argument/$                   index.php?pageTitle=new_counter_argument&title=$1&argument=$2&faction=-1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/p/([^/\.]+)/ca/new-argument/$      index.php?pageTitle=new_counter_argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/c/([^/\.]+)/ca/new-argument/$      index.php?pageTitle=new_counter_argument&title=$1&argument=$2&faction=-1 [L]

RewriteRule ^([^/\.]+)/p/([^/\.]+)/$                                            index.php?pageTitle=argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^([^/\.]+)/c/([^/\.]+)/$                                            index.php?pageTitle=argument&title=$1&argument=$2&faction=-1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/p/([^/\.]+)/$                           index.php?pageTitle=argument&group=$1&title=$2&argument=$3&faction=1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/c/([^/\.]+)/$                           index.php?pageTitle=argument&group=$1&title=$2&argument=$3&faction=-1 [L]
RewriteRule ^unlisted/([^/\.]+)/p/([^/\.]+)/$                                   index.php?pageTitle=argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^unlisted/([^/\.]+)/c/([^/\.]+)/$                                   index.php?pageTitle=argument&title=$1&argument=$2&faction=-1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/p/([^/\.]+)/$                      index.php?pageTitle=argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/c/([^/\.]+)/$                      index.php?pageTitle=argument&title=$1&argument=$2&faction=-1 [L]

RewriteRule ^([^/\.]+)/p/([^/\.]+)/ca/$                                         index.php?pageTitle=counter_argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^([^/\.]+)/c/([^/\.]+)/ca/$                                         index.php?pageTitle=counter_argument&title=$1&argument=$2&faction=-1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/p/([^/\.]+)/ca/$                        index.php?pageTitle=counter_argument&group=$1&title=$2&argument=$3&faction=1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/c/([^/\.]+)/ca/$                        index.php?pageTitle=counter_argument&group=$1&title=$2&argument=$3&faction=-1 [L]
RewriteRule ^unlisted/([^/\.]+)/p/([^/\.]+)/ca/$                                index.php?pageTitle=counter_argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^unlisted/([^/\.]+)/c/([^/\.]+)/ca/$                                index.php?pageTitle=counter_argument&title=$1&argument=$2&faction=-1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/p/([^/\.]+)/ca/$                   index.php?pageTitle=counter_argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/c/([^/\.]+)/ca/$                   index.php?pageTitle=counter_argument&title=$1&argument=$2&faction=-1 [L]

RewriteRule ^([^/\.]+)/p/([^/\.]+)/ca/([^/\.]+)/$                               index.php?pageTitle=counter_argument_full&title=$1&argument=$2&counterArgument=$3&faction=1 [L]
RewriteRule ^([^/\.]+)/c/([^/\.]+)/ca/([^/\.]+)/$                               index.php?pageTitle=counter_argument_full&title=$1&argument=$2&counterArgument=$3&faction=-1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/p/([^/\.]+)/ca/([^/\.]+)/$              index.php?pageTitle=counter_argument_full&group=$1&title=$2&argument=$3&counterArgument=$4&faction=1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/c/([^/\.]+)/ca/([^/\.]+)/$              index.php?pageTitle=counter_argument_full&group=$1&title=$2&argument=$3&counterArgument=$4&faction=-1 [L]
RewriteRule ^unlisted/([^/\.]+)/p/([^/\.]+)/ca/([^/\.]+)/$                      index.php?pageTitle=counter_argument_full&title=$1&argument=$2&counterArgument=$3&faction=1 [L]
RewriteRule ^unlisted/([^/\.]+)/c/([^/\.]+)/ca/([^/\.]+)/$                      index.php?pageTitle=counter_argument_full&title=$1&argument=$2&counterArgument=$3&faction=-1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/p/([^/\.]+)/ca/([^/\.]+)/$         index.php?pageTitle=counter_argument_full&title=$1&argument=$2&counterArgument=$3&faction=1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/c/([^/\.]+)/ca/([^/\.]+)/$         index.php?pageTitle=counter_argument_full&title=$1&argument=$2&counterArgument=$3&faction=-1 [L]

RewriteRule ^([^/\.]+)/edit/$                                                   index.php?pageTitle=edit_question&title=$1&view=0 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/edit/$                                  index.php?pageTitle=edit_question&group=$1&title=$2&view=0 [L]
RewriteRule ^unlisted/([^/\.]+)/edit/$                                          index.php?pageTitle=edit_question&title=$1&view=0 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/edit/$                             index.php?pageTitle=edit_question&title=$1&view=0 [L]

RewriteRule ^([^/\.]+)/p/([^/\.]+)/edit/$                                       index.php?pageTitle=edit_argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^([^/\.]+)/c/([^/\.]+)/edit/$                                       index.php?pageTitle=edit_argument&title=$1&argument=$2&faction=-1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/p/([^/\.]+)/edit/$                      index.php?pageTitle=edit_argument&group=$1&title=$2&argument=$3&faction=1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/c/([^/\.]+)/edit/$                      index.php?pageTitle=edit_argument&group=$1&title=$2&argument=$3&faction=-1 [L]
RewriteRule ^unlisted/([^/\.]+)/p/([^/\.]+)/edit/$                              index.php?pageTitle=edit_argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^unlisted/([^/\.]+)/c/([^/\.]+)/edit/$                              index.php?pageTitle=edit_argument&title=$1&argument=$2&faction=-1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/p/([^/\.]+)/edit/$                 index.php?pageTitle=edit_argument&title=$1&argument=$2&faction=1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/c/([^/\.]+)/edit/$                 index.php?pageTitle=edit_argument&title=$1&argument=$2&faction=-1 [L]

RewriteRule ^([^/\.]+)/p/([^/\.]+)/ca/([^/\.]+)/edit/$                          index.php?pageTitle=edit_counter_argument&title=$1&argument=$2&counterArgument=$3&faction=1 [L]
RewriteRule ^([^/\.]+)/c/([^/\.]+)/ca/([^/\.]+)/edit/$                          index.php?pageTitle=edit_counter_argument&title=$1&argument=$2&counterArgument=$3&faction=-1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/p/([^/\.]+)/ca/([^/\.]+)/edit/$         index.php?pageTitle=edit_counter_argument&group=$1&title=$2&argument=$3&counterArgument=$4&faction=1 [L]
RewriteRule ^groups/([^/\.]+)/([^/\.]+)/c/([^/\.]+)/ca/([^/\.]+)/edit/$         index.php?pageTitle=edit_counter_argument&group=$1&title=$2&argument=$3&counterArgument=$4&faction=-1 [L]
RewriteRule ^unlisted/([^/\.]+)/p/([^/\.]+)/ca/([^/\.]+)/edit/$                 index.php?pageTitle=edit_counter_argument&title=$1&argument=$2&counterArgument=$3&faction=1 [L]
RewriteRule ^unlisted/([^/\.]+)/c/([^/\.]+)/ca/([^/\.]+)/edit/$                 index.php?pageTitle=edit_counter_argument&title=$1&argument=$2&counterArgument=$3&faction=-1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/p/([^/\.]+)/ca/([^/\.]+)/edit/$    index.php?pageTitle=edit_counter_argument&title=$1&argument=$2&counterArgument=$3&faction=1 [L]
RewriteRule ^unlisted/unregistered/([^/\.]+)/c/([^/\.]+)/ca/([^/\.]+)/edit/$    index.php?pageTitle=edit_counter_argument&title=$1&argument=$2&counterArgument=$3&faction=-1 [L]
